<!-- .layout-content -->
<div class="layout-content">
    <section class="page-home layout-row">
        <div class="row">
            <div class="col-md-6">
                <h1 class="page-home__page-title">Pagina Web personal de Victor Martinez Simon</h1>
                <div class="page-home__text">
                    <p>Soy un desarrollador de videojuegos que vive en Madrid. Llevo trabajando como desarrollador desde el año 2014, tanto para diferentes compañias como con proyectos personales.</p>
                    <p>Estoy especializado en Gameplay y en inteligencia artificial, realizando este trabajo en las empresas en ls que he trabajado.</p>
                </div>
            </div>
            <div class="col-md-6 page-home__thumbnail-wrap">
            	<%= image_tag("Home/Foto.jpg", alt: "Profile Photo", class: 'page-home__thumbnail' ) %>
            </div>
        </div>
    </section>
</div>
<!-- end .layout-content -->
